.widget .wc-widgets-preview-image img {
	max-height: 200px;
	background: #fafafa;
	padding: 0;
	border-width: 0;
	max-width: 100%;
}

.widget .wc-widgets-preview-image {
	margin-bottom: 5px;
}

.widget .wc-widgets-image-field .button,
.widget .wc-widgets-image-field input {
	margin-bottom: 7px;
}
